<div class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="" style="border-color: red">
    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
        <label for="search" style="font-size: 25px">Search</label>
        <input type="text" ng-model="filterStr.name" id="search" style="float: left; width: 200px"/>
        <md-button class="md-primary md-raised" ng-click="inviteUser($event)">Invite User</md-button>
        <table style="width:70%">
            <tr>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Role</th>
                <th style="text-align: center">Action</th>
            </tr>
            <tr ng-repeat="user in userList | filter:filterStr">
                <td align="center">{{user.name}}</td>
                <td align="center">{{user.role}}</td>
                <td colspan="2" align="center">
                    <md-button class="md-primary md-raised" ng-click="editRole($event, user)">Edit Role</md-button> <md-button class="md-primary md-raised" ng-click="deleteUser($index)">Delete</md-button>
                </td>
                <!--<td>-->
                    <!---->
                <!--</td>-->
            </tr>

        </table>

        <!-- ########################################################################################## -->
        <script type="text/ng-template" id="invite-user.html">
            <md-dialog
                    aria-label="Mango (Fruit)">
                <form ng-cloak>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 align="center">INVITE USER</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                            </md-button>
                        </div>
                    </md-toolbar>

                    <form >
                    <md-dialog-content>
                        <div class="md-dialog-content">

                            <label for="email">Email</label>
                            <input type="text" ng-model="email" id="email" />
                            <label for="role">ROLE</label>
                            <select ng-model="role" id="role">
                                <option value="ADMIN">ADMIN</option>
                                <option value="MODERATOR">MODERATOR</option>
                            </select>
                        </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <span flex></span>
                        <md-button ng-click="answer(email+'-'+ role)">
                            Submit
                        </md-button>
                    </md-dialog-actions>
                        </form>
                </form>
            </md-dialog>
        </script>


        <!-- ################################################################################################### -->
        <script type="text/ng-template" id="edit-role.html">
            <md-dialog
                    aria-label="Mango (Fruit)">
                <form ng-cloak>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 align="center">EDIT ROLE</h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="cancel()">
                                <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                            </md-button>
                        </div>
                    </md-toolbar>

                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>
                                        ROLE
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{modal.editUser.name}}</td>
                                    <td>
                                        <select ng-model="customRole">
                                            <option value="ADMIN">ADMIN</option>
                                            <option value="MODERATOR">MODERATOR</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </md-dialog-content>

                    <md-dialog-actions layout="row">
                        <span flex></span>
                        <md-button ng-click="answer(customRole)">
                            Submit
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </script>
    </div>

</div>
</div>