<!--<div class="container-fluid" style="margin-top: 10px; margin-left: 10px;">-->
    <!--<div class="row">-->
        <!--<img ng-src="{{avatarUrl}}" style="margin-right: 5px; border-radius: 5px; width: 50px; height: 50px;">-->
        <!--<span style="font-weight: bold">{{displayName}}</span>-->
    <!--</div>-->
    <!--<div style="margin-top: 10px;" class="row">-->
        <!--<button class="btn btn-info" ng-click="logout()">Logout</button>-->
    <!--</div>-->
<!--</div>-->
<div layout="column" layout-fill="">
    <!-- The outer wrapper - need to set height to px or vh -->

    <div style="height:700px; overflow:hidden">
        <md-toolbar md-scroll-shrink md-colors="{background:'blue-A200'}">
            <div class="md-toolbar-tools">
                <h3>
                    <span>SMM Tool</span>
                </h3>
                <span flex></span>
                <md-list>
                    <md-list-item>
                        <img ng-src="{{avatarUrl}}" alt="" class="md-avatar">
                        <h4>
                            <b>  {{displayName}}</b>
                        </h4>
                    </md-list-item>
                </md-list>
                <md-button class="md-raised" aria-label="Learn More" ng-click="logout()">
                    Log out
                </md-button>
            </div>

        </md-toolbar>

        <!-- Content height does not need to be px any more: -->
        <md-content style="height:100%">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="page1">Post</md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">Rule</md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">User</md-nav-item>
            </md-nav-bar>
            <!--<div class="ext-content">-->
                <!--<md-list>-->
                    <!--<md-list-item class="md-3-line" ng-repeat="item in todos">-->

                        <!--<div class="md-list-item-text">-->
                            <!--<h3>{{item.what}}</h3>-->
                            <!--<h4>{{item.who}}</h4>-->
                            <!--<p>-->
                                <!--{{item.notes}}-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<md-divider inset=""></md-divider>-->
                    <!--</md-list-item>-->
                <!--</md-list>-->
            <!--</div>-->

        <ui-view></ui-view>
        </md-content>
    </div>
    <md-nav-bar  md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="page1">Post</md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="page2">Rule</md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page3">User</md-nav-item>
    </md-nav-bar>
</div>