/* facebook login button */
#facebookLoginBtn {
    display: inline-block;
    background: #4C6FAA;
    color: white;
    width: 250px;
    border-radius: 5px;
    border: thin solid #3b5998;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin-top: 50px;
    margin-left: 160px;
    margin-bottom: 20px;
}

#facebookLoginBtn:hover {
    cursor: pointer;
}

#facebookLoginBtn span.icon {
    background: url('/src/img/facebook-login-icon.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#facebookLoginBtn span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

/* google login button */
#googleLoginBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 130px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

#googleLoginBtn:hover {
    cursor: pointer;
}

#googleLoginBtn span.icon {
    background: url('/src/img/google-login-icon.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

#googleLoginBtn span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
}

/*Huyen*/
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.main-menu {
    background: #2e2e2e;
    position: absolute;
    bottom: 0;
    padding-top:50px;
    top: 50px;
    left: 0;
    width: 60px;
    overflow-x: hidden;
    overflow-y: auto !important;
    z-index: 100;
    /*-webkit-transition: width .05s linear;*/
    /*transition: width .05s linear;*/
    /*-webkit-transform: translateZ(0) scale(1, 1);*/
    /*z-index: 1000;*/
    /*margin-top:50px;*/
}

.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu > ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li > a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
/*highlight an item in menu*/
.navActive {
    border-left: solid 3px #ff4d00;
    background-color: #000000;
}



.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}


a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.wrapper {
    width: 500px;
    margin: 0 auto;

}

.container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #F7F7F7;
    z-index: 1030;
}

header h1 {
    font-family: 'allerBold', Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin-top: 100px;
    color: #333;
}

header {
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 160px;
}

.lead {
    margin-bottom: 17px;
    font-size: 19.5px;
    font-weight: 200;
    line-height: 25.5px;
}

hr {
    display: block;
    width: 980px;
}

/*inside postDetail*/
.img-postWrapper{
    position: relative;
    height: 300px;
    margin:10px 0;
}
.img-postInner {
    width: inherit;
    height:inherit;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}
/*buttons and icons*/
.btn-default {
    background-color: #B43104;
    color: #ffffff;
}
/*navbar*/
.navbar {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #F2F2F2;
    z-index:1030;
}
/*view menu Bar and listPost*/
.pageDetail {  /*pageDetail is a div wrapping menu bar & listPost*/
    position: absolute;
    bottom: 0;
    left: 60px;
    right: 0;
    top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*===page menu===*/
.page-menu {
    position: absolute;
    height: 50px;
    overflow-y: hidden;
    overflow-x: auto;
    z-index: 10;
    background: #e5e5e5;
    top:50px;
    left:60px;
    right: 0;
}
.page-menu ul {
    padding: 0;
}
.page-menu ul li {
    position: center;
    height: 50px;
    line-height: 43px;
    /*margin-top: 3px;*/
    cursor: pointer;
    display: inline-block;
}
.page-menu ul li :hover {
    background-color: #d5d5d5;
    /*border-top: 3px solid #ff4d00;*/
    color: #ff4d00;
}
.page-menu ul li a {
    color: #666;
    display: inline-block;
    font-family: AllerBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-width: 70px;
    padding: 0 20px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
}
.activeMenu {
    border-top: solid 3px #ff4d00;
    background-color: #D8D8D8;
    margin-top:0;
}
/*===ng-class: open postDetail===*/
.openDetail {
    float: left;
    width: 40%;
}

/*===list Post and postDetail===*/
/*when click on a post in list post*/
.itemSelected {
    background-color: #F5D0A9;
    box-shadow: 5px 5px 10px #888888;
}
/*listPost*/
.listPost {
    margin-top: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
/*post Detail*/
.PostDetail {
    position: absolute;
    background-color: #f1f1f1;
    /*border-left: 1px solid #D8D8D8;*/
    /*height: 100%;*/
    top: 0;
    bottom:0;
    right: 0;
    width: 60%;
    overflow-x:hidden;
    overflow-y:auto;
}
