<div class="listPost">
    <md-content ng-class="{openDetail:expand}" layout="column">
        <md-list-item ng-repeat = "post in listPost" style="border-bottom: solid 1px #d4d4d4;" ng-click="getComments(post)"
                      ng-class="{itemSelected: post.clicked}">
            <img ng-src="{{avatarPageUrl}}" class="md-avatar">
            <div class="md-list-item-text" layout="column">
                <b>{{ post.message| limitTo: 100 }}{{post.message.length > 100 ? '...' : ''}}</b>
                <b>{{post.story}}</b>
                <em>comments: {{post.totalCmt}},  {{post.created_time}}</em>
            </div>
        </md-list-item>
    </md-content>
</div>

<!--<div class="listPost">-->
    <!--<table>-->
        <!--<tbody>-->
            <!--<tr ng-repeat = "post in listPost">-->
                <!--<td>-->
                    <!--<div class="list-item-wrapper">-->
                        <!--<img alt="avaPage" src="{{avatarPageUrl}}" >-->
                        <!--<article>-->
                            <!--<b>{{ post.message| limitTo: 100 }}{{post.message.length > 100 ? '...' : ''}}</b>-->
                            <!--<footer>-->
                                <!--<i class="icon-comments-alt"></i> {{post.totalCmt}}, {{post.created_time}}-->
                            <!--</footer>-->
                        <!--</article>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->

<div ng-show="expand" class="PostDetail">
    <div style=" padding: 15px;">
        <!--huyen-->
        <img src="{{avatarPageUrl}}">
        <span>{{pageName}}</span>
        <br>
        <p>{{postDetail.message}}</p>
        <div class="img-postWrapper" ng-show="postDetail.full_picture != null">
            <img alt="" ng-src="{{postDetail.full_picture}}" class="img-postInner img-rounded img-responsive"/>
        </div>
        <!--lan-->
        <md-list-item ng-repeat="data in postDetail.comments.data" style="border-bottom: solid 2px #d4d4d4; ">
            <div class="md-list-item-text" layout="column" style="width: 100%">
                <div layout="row" style="width: 100%">
                    <div flex="10">
                        <img ng-src="src/img/bird.jpg" class="md-avatar" alt="avatar"/>
                    </div>
                    <div flex="90">
                        <a>{{data.from.name}}</a>
                        <br/>{{data.message}}
                        <div class="mainDetailNav navBar">
                            <div class="post-view-nav">
                                <div class="pull-left">
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button class="btn-item">
                                                <i class="icon-ok"></i>REVIEW
                                            </button>
                                            <button class="btn-item">
                                                <i class="icon-ban-circle"></i>HIDE
                                            </button>
                                            <button class="btn-item">
                                                <i class="icon-remove"></i>REMOVE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <md-list-item ng-repeat="reply in data.comments.data" ng-click="getComments(post)">
                    <div layout="row" style="width: 100%">
                        <div flex="10">
                        </div>
                        <div flex="10">
                            <img ng-src="src/img/bird.jpg" class="md-avatar" alt="avatar"/>
                        </div>
                        <div flex="80">
                            <a>{{reply.from.name}}</a>
                            <br/>{{reply.message}}
                            <div class="mainDetailNav navBar">
                                <div class="post-view-nav">
                                    <div class="pull-left">
                                        <div class="btn-toolbar">
                                            <div class="btn-group">
                                                <button class="btn-item">
                                                    <i class="icon-ok"></i>REVIEW
                                                </button>
                                                <button class="btn-item">
                                                    <i class="icon-ban-circle"></i>HIDE
                                                </button>
                                                <button class="btn-item">
                                                    <i class="icon-remove"></i>REMOVE
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-list-item>
            </div>
        </md-list-item>

        <div class="form-group">
            <!--<div class="avaPage">-->
                <!--<img alt="avatar page" src="">-->
            <!--</div>-->
            <textarea class="form-control" rows="3" id="comment"></textarea>
            <md-button class="md-raised md-primary">Reply</md-button>
        </div>
    </div>
</div>